# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized

### Some of the popular languages that Data Scientists use are:
    1.python
    2.sql
    3.R

**Objectives:**
#### List popular languages for Data Science
    -python
    -R
    -SQL
    -Java
    -julia

### some of the key takeaways from the course
    1.know about toll
    2.how to use r and r studio
    3.how use jupyter
    4.how use git and github

#### Some of the commonly used libraries used by Data Scientists include:
#### ordered list
     1.Pandas
     2.matplotlib
     3.Scikit-learn

| Data Science Tools |
| ----------------- |
| Jupyter Notebook  |
| RStudio           |
| Spyder            |

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
# This a simple arithmetic expression to mutiply then add integers

print((3*4)+5)

17

In [7]:
# This will convert 200 minutes to hours by diving by 60
print('200 minutes =',200/60,' hours')

200 minutes = 3.3333333333333335  hours

## Author
    yash